.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

li {
  list-style-type: none;
}

.search-input-container {
  margin-top: 15px;
}

.search-input {
  width: 250px;
}

.movies-list-container {
  margin-top: 100px;
}

.input-container {
  margin-top: 20px;
}

.tag-box {
  /* display: "flex";
  justify-content: space-evenly; */
  margin: 5px;
  color: white;
  min-width: 80px;
  border-radius: 10px;
  background-color: #394baf;
}

.cancel-tag-button {
  margin: 2px;
  cursor: pointer;
  float: right;
  display: inline-block;
  padding: 1px 2px;
  color: white;

  background-color: transparent;
  border: none;
  border-radius: 100%;
}

.tag-input {
  height: 40px;
  width: 300px;
}

.add-tag-button {
  color: white;
  margin-top: 20px;
  background-color: #0b5854;
  height: 50px;
  width: 180px;
  border-radius: 5px;
}

.button-input-cotainer {
  width: "100%";
  display: "flex";
  justify-content: space-around;
  /* flex-direction: row; */
}

.item-list {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
  height: 150px;
  border: 1px solid gray;
}

.search-bar-container {
  background-color: black;
  height: 50px;
  top: 0;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  position: fixed;
}

.search-bar {
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
